.navigation {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  color: #4a4a4a;
}

.list {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoSize {
  font-size: 3rem;
}

@media (max-width: 1200px) {
  .logoSize {
    font-size: 2rem;
  }
  .navigation {
    padding: 0 3rem;
  }
  .pageTitle {
    font-size: 0.5rem;
  }
  .list {
    font-size: 1rem;
  }
}

@media (max-width: 780px) {
  .flex {
    gap: 1rem;
  }
  .list {
    display: none;
  }
  .navigation {
    padding: 0 1rem;
  }
}